<p><%= comment.name %></p>
<p><%= comment.body %></p>
<p><i><%= time_ago_in_words(comment.created_at) %> Ago </i></p>

<p><%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></p>
				