<script>

function toggleElement(id)
{
    if(document.getElementById(id).style.display == 'none')
    {
        document.getElementById(id).style.display = '';
    }
    else
    {
        document.getElementById(id).style.display = 'none';
    }
}
</script>

<h2>Questions asked by our Users:</h2>
	<p><a href="javascript:toggleElement('a1')">Is this a question?</a></p>
	<div id="a1" style="display:none">This is an answer.</div>

	<p><a href="javascript:toggleElement('a2')">Is this a question?</a></p>
	<div id="a2" style="display:none">This is an answer.</div>

	<p><a href="javascript:toggleElement('a3')">Is this a question?</a></p>
	<div id="a3" style="display:none">This is an answer.</div>

	<p><a href="javascript:toggleElement('a4')">Is this a question?</a></p>
	<div id="a4" style="display:none">This is an answer.</div>

	<p><a href="javascript:toggleElement('a5')">Is this a question?</a></p>
	<div id="a5" style="display:none">This is an answer.</div>

	<p><a href="javascript:toggleElement('a6')">Is this a question?</a></p>
	<div id="a6" style="display:none">This is an answer.</div>

<h2>Questions asked by our Trainers:</h2>

	<p><a href="javascript:toggleElement('a7')">Is this a question?</a></p>
	<div id="a7" style="display:none">This is an answer.</div>

	<p><a href="javascript:toggleElement('a8')">Is this a question?</a></p>
	<div id="a8" style="display:none">This is an answer.</div>

	<p><a href="javascript:toggleElement('a9')">Is this a question?</a></p>
	<div id="a9" style="display:none">This is an answer.</div>

	<p><a href="javascript:toggleElement('a10')">Is this a question?</a></p>
	<div id="a10" style="display:none">This is an answer.</div>

	<p><a href="javascript:toggleElement('a11')">Is this a question?</a></p>
	<div id="a11" style="display:none">This is an answer.</div>

	<p><a href="javascript:toggleElement('a12')">Is this a question?</a></p>
	<div id="a12" style="display:none">This is an answer.</div>
