<div class="jumbotron">
</div>

<div class = "center">

	<div class="row">
	  <div class="col-md-4">
		<h4>Search</h4>
		<img src="https://dl.dropboxusercontent.com/s/ttvwn0j2qim1r4b/Gymloads-Logo.gif?dl=0" alt="Gymloads">
	  </div>

	  <div class="col-md-4">
		<h4>Download</h4>
		<img src="https://dl.dropboxusercontent.com/s/ttvwn0j2qim1r4b/Gymloads-Logo.gif?dl=0" alt="Gymloads">
	  </div>


	  <div class="col-md-4">
	  	<h4>Enjoy!</h4>
	  	<img src="https://dl.dropboxusercontent.com/s/ttvwn0j2qim1r4b/Gymloads-Logo.gif?dl=0" alt="Gymloads">
	  </div>
	</div>

</dev>